<div id="post_show_content"class="skinny-wrapper wrapper-padding">
  <header>
    <p class="date"><%= @post.created_at.strftime("%A, %B %d %Y") %></p>
    <h1><%= @post.title %></h1>
    <hr>
    <div id="content">
           <div class="post-text">

                    <%= markdown @post.content %>
           <!-- </div> -->
    </div>

    <div class="share-box">
      <h5>Share <%= @post.title %></p>
        <div class="share-icons">
          <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by@kevinegstorf - &amp;url=<%= url_for([@post, { only_path: false }]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><li class="fa fa-twitter"></li></a>
          <!-- <a onclick="javascript:window.open('https://www.facebook.com/dialog/share?app_id=2025637964327145&href=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><li class="fa fa-facebook"></li></a> -->
          <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@post, { only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook"></i></a>
          <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=')"></a>
          <a onclick="javacript:window.open('https://plus.google.com/share?url=<%= url_for([@post, { only_path: false }]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><li class="fa fa-google-plus"></li></a>
        </div>
        <hr>
        <br>
        <br>
      </div>
      <div class="button">
        <%= link_to "Edit", edit_post_path(@post) %>
      </div>
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are your
        sure you want to delete this post?'} %>
  </div>
    <hr>
  <%= render 'disqus' %>
  </div>



  </header>
