<header id="main_navigation" class="border-main clearfix">
  <%= link_to 'Rails Dev Kev', root_path, class: 'name' %>
  <nav>
    <%= link_to 'Article', posts_path%>
    <%= link_to 'Projects', projects_path%>
    <%= link_to 'Contact', new_contact_path%>
    <% if user_signed_in? %>
    <%= link_to 'Sign Out ', destroy_user_session_path, method: :delete %>
    <% end %>
  </nav>
</header>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% elsif alert %>
  <p class="alert"><%= alert %></p>
<% end %>
